<script>
    if (window.netlifyIdentity) {
        window.netlifyIdentity.on("init", (user) => {
            if (!user) {
                window.netlifyIdentity.on("login", () => {
                    document.location.href = "/admin/";
                });
            }
        });
    }
</script>
{% if page.mathjax %}
<script
    defer
    src="https://cdn.jsdelivr.net/npm/mathjax@4/tex-mml-chtml.js"
></script>
{% endif %} {% if page.mermaid %}
<script type="module">
    import mermaid from "https://cdn.jsdelivr.net/npm/mermaid@11/dist/mermaid.esm.min.mjs";

    mermaid.initialize({
        startOnLoad: true,
        securityLevel: "loose",
    });
    mermaid.run({
        querySelector: ".language-mermaid",
    });
</script>
{% endif %}
