{% if page.extra.hero%}
<section class="hero">
  <div class="hero-text">
    <h1>

        {% if page.extra.hero.title %}
            {{ page.extra.hero.title | safe }}
        {% elif page.title %}
            {{ page.title }}
        {% else %}
            "Awesome title here"
        {% endif %}
    </h1>
    {% if page.description %}
    <p class="hero-tagline">"{{ page.description }}"</p>
    {% endif %}
  </div>
  {% if page.image %}
  {% set _alt = page.extra.hero.alt |default(value="") %}
  {% set _caption = page.extra.hero.caption |default(value="") %}

  <figure class="hero-figure">
    <img src="{{ page.image }}" alt="{{ _alt }}">
    <figcaption>{{ _caption }}</figcaption>
  </figure>
  {% endif %}
</section>
{% endif %}
