---
---

$primary: #d76d0a;
// $link: #d090e6;
// $text: #dcc1d8;
// $card-color: #df8143;
// $card-footer-border-top: 0px solid $card-color;
@import "main";

.card.is-outlined {
    --bulma-button-border-width: max(1px, 0.0625em);
    border-style: solid;
    border-width: max(1px, 0.0625em);
    border-color: hsl(var(--bulma-primary-h), var(--bulma-primary-s), var(--bulma-primary-l));
}

figure .is-rounded-corner {
    border-radius: var(--bulma-radius-large);
}

.hero-body {
    .title {
        text-shadow: #555 1px 1px 2px;
    }
}

kbd {
    background-color: var(--bulma-primary-light);
    padding: 0.25rem;
    border-radius: 12%;
    border: 1px solid var(--bulma-primary-invert);
}

.content img {
    filter: drop-shadow(0 0 0.25rem var(--bulma-primary-on-scheme));
}

.content .is-256 {
    width: 256px;
}


.hero-darken .title {
    color: var(--bulma-primary-light);
}