{% assign tutorial_data = site.data.tutoriales | where: 'name', page.tutorial | first %}
{% assign chapters = site.tutoriales | where: 'tutorial', page.tutorial %}

{% for c in chapters %}
  {% if c.relative_path == page.relative_path %}
    {% if forloop.first %}
      {% assign next_chapter = chapters[forloop.index].url %}
    {% elsif forloop.last %}
      {% assign minus_one = forloop.index0 | minus: 1 %}
      {% assign previous_chapter = chapters[minus_one].url %}
    {% else %}
      {% assign minus_one = forloop.index0 | minus: 1 %}
      {% assign previous_chapter = chapters[minus_one].url %}
      {% assign next_chapter = chapters[forloop.index].url %}
    {% endif %}
    {% break %}
  {% endif %}
{% endfor %}

<!doctype html>
{% assign has_left_sidebar = true %}

{% if page.show_sidebar and has_left_sidebar %}
  {% assign content_width = 'is-4' %}
{% elsif page.show_sidebar or has_left_sidebar %}
  {% assign content_width = 'is-8' %}
{% else %}
  {% assign content_width = 'is-12' %}
{% endif %}

<html
  dir="{{ site.direction | default: 'ltr' }}"
  lang="{{ site.lang | default: 'en' }}"
  class="{% if site.fixed_navbar %} has-navbar-fixed-{{ site.fixed_navbar }} {% endif %} {% if site.force_theme %} theme-{{ site.force_theme }} {% endif %}"
>
  {% include head.html %}
  <body>
    {% if site.cookie_policy %}
      {% include cookie-banner.html %}
    {% endif %}
    {% include header.html %}
    {% unless page.hide_hero %}
      {% include hero.html %}
    {% endunless %}
    {% include callouts.html %}
    <section class="section">
      <div class="container">
        <div class="columns is-multiline">
          <div class="column is-4-desktop is-4-tablet">
            <aside class="menu">
              <p class="menu-label">
                {{ tutorial_data.title }}
              </p>

              <ul class="menu-list">
                {% for tuto in chapters %}
                  <li>
                    <a
                      href="{{tuto.url}}"
                      class="{% if tuto.relative_path == page.relative_path  %}is-active{% endif %}"
                    >
                      {{ forloop.index }} .- {{ tuto.title }}
                    </a>
                  </li>
                {% endfor %}
              </ul>
            </aside>
          </div>
          {% if page.menubar_toc %}
            <div class="column is-4-desktop is-4-tablet">
              {% assign contentsTitle = page.toc_title | default: 'Contents' %}
              {% include toc.html html=content class='menu-list' h_min=2 h_max=3 contents_title=contentsTitle %}
            </div>
          {% elsif page.menubar %}
            <div class="column is-4-desktop is-4-tablet">
              {% include menubar.html %}
            </div>
          {% endif %}
          <div class="column {{ content_width }}">
            {% include tabs.html %}
            {% include showcase.html %}
            {% include sponsors.html %}
            {% include gallery.html %}

            <div class="content">
              <p>Published: {{ page.date | date: '%b %-d, %Y' }} by {{ page.author }}</p>

              {% if page.series %}
                {% include series.html %}
              {% endif %}

              {{ content }}
            </div>
            <div class="columns my-6">
              {% if previous_chapter %}
                {% if next_chapter %}
                  <div class="column is-6"><a href="{{previous_chapter}}" class="button is-link">Anterior</a></div>
                  <div class="column is-6 has-text-right">
                    <a href="{{ next_chapter }}" class="button is-link">Siguiente</a>
                  </div>
                {% else %}
                  <div class="column is-12">
                    <a href="{{ previous_chapter }}" class="button is-link">Anterior</a>
                  </div>
                {% endif %}

              {% elsif next_chapter %}
                <div class="column is-12 has-text-right">
                  <a href="{{ next_chapter }}" class="button is-link">Siguiente</a>
                </div>
              {% endif %}
            </div>

            <div class="tags my-4">
              {% for tag in page.tags %}
                {% include tag.html tag=tag %}
              {% endfor %}
            </div>

            {% unless site.hide_share_buttons %}
              <div class="my-4">
                {% include share-buttons.html %}
              </div>
            {% endunless %}

            {% if site.disqus.shortname %}
              <div class="my-4">
                {% include disqus.html %}
              </div>
            {% endif %}
          </div>
          {% if site.posts and page.show_sidebar %}
            <div class="column is-4-desktop is-4-tablet">
              {% include latest-posts.html %}
            </div>
          {% endif %}
        </div>
      </div>
    </section>
    {% unless page.hide_footer %}
      {% include footer.html %}
    {% endunless %}
    <script src="{{ site.baseurl }}/assets/js/app.js" type="text/javascript"></script>
    {%- include footer-scripts.html -%}
    <script src="https://modularizer.github.io/pyprez/pyprez.min.js" type="text/javascript"></script>
    <script>
      pyprez.then((){
      });
    </script>
  </body>
</html>
